.#{$prefix}{
    &hero{
        width: 100%;
       
            img{
                height: 100%;
                width: 100%;
                filter: brightness(40%);
                
               
            }

            .#{$prefix}card{
         
                backdrop-filter: blur(20px);
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: var(--margin-base);

                .welder{
                    width: 60px ;
                    height: auto;
                    filter: brightness(1);
                    
                }
             

                .fa{
                    
                    &-solid{
                        color: var(--color-secondary);
                    }
                }

                
                // &.primary{
                //     margin-top: calc(var(--margin-top-l) * -6;
                // }

                // &.secondary{
                //     margin-top: calc(var(--margin-top-l) * -9);
                // }

                // &.terciary{
                //     margin-top: calc(var(--margin-top-l) * -11.5);
                // }

                
                &-wrapper{
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: calc(var(--margin-top-l) *2);
                    flex-wrap: wrap;
                    gap: var(--margin-l);
                }
            }


    }
}